click==8.1.3
Flask==2.2.3
Werkzeug==2.2.3
python-dotenv==1.0.0
Flask-SQLAlchemy==3.0.3
Flask-Login==0.6.2
psycopg2-binary
Flask-Migrate==4.0.4
WTForms==3.0.1
Flask-WTF==1.1.1
email-validator==2.0.0.post1
Flask-Admin
